apiVersion: batch/v1
kind: Job
metadata:
  name: seed-films
spec:
  backoffLimit: 15
  ttlSecondsAfterFinished: 86400
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: seed
          image: 1t1scool/filmograph-service:latest
          command: ["python", "upload.py"]
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
